#body{
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#bodyblogs{
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.baslik1{
    margin: 50px;
    font-family: 'Montserrat';
    color: rgb(194, 180, 180);
}
div a{
    color: white;
    font-family: 'Lexend';
    text-decoration: none;
    padding-left: 25px;
}
#aciklama1{
    margin-left: 75px;
}